.bg-image {
    background-image: url('https://i.pinimg.com/736x/45/04/af/4504af538a21ee2e1fb4013d53b2a7de.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margin-top {
    margin-top: 30vh; //vertical height
}