.bg-image {
    background-image: url('https://i.pinimg.com/736x/f5/c0/dc/f5c0dc3cad46013e0c5e47de3e92be9d.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.margin-top {
    margin-top: 20vh; //vertical height
}